@charset "UTF-8";

#home{
   padding-top: 30px;
   height: 100%;
   width: 100%;
}
.QnA-div{

}
.QnA_table_div{
	margin-top: 70px;
    width: 1150px;;
    height: 1300px;
    padding-top: 80px;
    background-color: lightgoldenrodyellow;
    padding-left: 50px;

}
.QnA_table_div h1{
	margin-left: 200px;
	
}
.QnA_table{
	margin-left: 200px;
	text-align:center;
	margin-top:40px;
	padding-bottom:80px;
}

.QnA_table th,td{
	
	border-bottom:1px solid black;
	height:50px;
}
.QnA_table td a{
	size:20px;
}

.QnA_table th{
	
	width: 40px;
}
.QnA_table td{
	width: 730px;
}

.reply{
	display:none; 
}

.QnA_table td:nth-child(3){
	width: 70px;
}
.making_div{
	height:400px;
}
.making_div h3{
	padding-top:100px;
	text-align:center;
}